@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @plugin "daisyui"; */

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}
/* Fix Ant Design Input in dark mode */
.ant-input,
.ant-input-affix-wrapper {
    background-color: var(--ant-color-bg-container) !important;
    color: var(--ant-color-text) !important;
}

.ant-input::placeholder {
    color: var(--ant-color-text-placeholder) !important;
}
